name: Tests

on: [push]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [ 8.2, 8.3 ]

    name: PHP ${{ matrix.php }}
    env:
      extensions: curl, dom, gd, json, libxml, mbstring, zip, intl, pcntl
      key: php_${{ matrix.php }}_test_laravel_${{ matrix.laravel }}_cache_v1

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup cache environment
        id: ext_cache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          key: ${{ env.key }}

      - name: Cache extensions
        uses: actions/cache@v4
        with:
          path: ${{ steps.ext_cache.outputs.dir }}
          key: ${{ steps.ext_cache.outputs.key }}
          restore-keys: ${{ steps.ext_cache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: xdebug2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ env.key }}-${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ env.key }}-${{ runner.os }}-composer-

      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-progress

      - name: Preparing
        run: |
          cp .env.example .env && \
          php artisan key:generate || true && \
          php artisan migrate || true

      - name: Execute tests
        run: php artisan test --coverage
